/*  YOU DON'T NEED TO TOUCH THIS FILE */
@import url('https://fonts.googleapis.com/css?family=Dosis:wght@200&family=Roboto:wght@400&display=swap');

body {
  font-family: "Dosis", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  padding: 10px;
  text-decoration: none;
  color: black;
}

.navbar {
  display: flex;
  margin: 15px 30px;
}


.logo {
  max-height: 3rem;
}

.avatarImg{
  display: block;
  height: 10em;
  width:10em;
  background-position: center center;
  background-size: cover;
  border-radius: 50%;
  transition: 1s ease-in-out;
}

.avatar{
  background-image: url("../image/avatar-bis.png");
  transition: 1s ease-in-out;
}
.avatar-alt{
  background-image: url("../image/avatar.svg");
  transition: 1s ease-in-out;
}

#name {
  color: red;
}

.purple {
  color: #750ff7;
}

button:focus {
  outline: none;
}
.desktop{
  display: none;
}
.skills{
  flex-direction: row-reverse;

  justify-content: center;
}
.disabled{
  opacity: 0.7;
}
.heading>h2,.heading>p{
  padding-left: 1em;
}

.contents{

  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em auto;
}




@media screen and (min-width: 700px) {
  .navbar>.menu{
    margin-left: auto;
   }
   .introduction{
    display: flex;
    justify-content: center;
    align-items: center;

   }
   .desktop{
    display: flex;
  }
  .skills{
    display: flex;
  }
.box{
  min-width: 10em;
}
  .contents{

    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;



  }
}

